.add-thing-card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.add-thing-col{
    min-height: 248px;
}

.thing-card-plus{
    margin-top: 5px;
    font-size: 60px;
    opacity: 80%;
}