.header-layout{
    z-index: 5;
    height: 66px;
    background: #fff;
    box-shadow: darkgrey 1px 1px 15px 1px ;
}

.header-logo{
    float: left;
    width: 144px;
    height: 63px;
    margin: 0 15px 0 0;
    background-image: url("../../image/logo.png");
    background-size:contain;
    cursor:pointer;
}

.header-avatar{
    float: right;
    margin-top: 13px;
    vertical-align: middle;
}

.header-username{
    float: right;
    margin-top: 13px;
    margin-right: 10px;
    vertical-align: middle;
}