.header-layout{
    z-index: 5;
    height: 66px;
    background: #fff;
    box-shadow: darkgrey 1px 1px 15px 1px ;
}

.header-logo{
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(0, 0, 0, 0.2);
}

.header-avatar{
    float: right;
    margin-top: 13px;
    vertical-align: middle;
}

.header-username{
    float: right;
    margin-top: 13px;
    margin-right: 10px;
    vertical-align: middle;
}